:root {
  --background: rgb(245, 255, 255);
  --primary-color: #006285;
  --second-color:#3acd7e;
  --text-color:#fff;
  --btn:1.5rem;
  --border-raduis: 3px;
  --amazon-color: #febd69;
  --paystack: #3cd2f6;
  --text-font:2.1rem; 
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
    font-family: 'Open Sans', sans-serif;
}

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
 .logo {
        font-size: 1.1em;
    }
.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: rgba(116, 224, 116, 0.8);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
/* start animatin toggle */
.nav-toggle:checked ~ .nav-toggle-label span{
  content: '';
  -webkit-transform: rotate(-50deg);
  -moz-transform:rotate(-50deg) ;
  -o-transform: rotate(-50deg);
  transform: rotate(50deg);
  transition: all .9s ease-in .2s;
  /* top: 10px; */
}
.nav-toggle:checked ~ .nav-toggle-label span::before{
  content: '';
  -webkit-transform: rotate(-100deg);
  -moz-transform:rotate(-100deg) ;
  -o-transform: rotate(-100deg);
  transform: rotate(-100deg);
  transition: all .9s ease-in .2s;
  top: 50%;
}
.nav-toggle:checked ~ .nav-toggle-label span::after{
  content: '';
  transform: rotate(100deg);
  display: none;
  
}
/* end animation toggle */
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  /* display: none; */
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  padding: 3rem 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: rgb(14, 12, 12);
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

nav a:hover {
  color: rgba(116, 224, 116, 0.8);
}

.nav-toggle:checked ~ nav {
  /* display: block; */
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/*section*/



.first-sec {
    text-align: center;
    font-size: 2rem;
    padding: 7rem 2rem;
    background: linear-gradient(
      to bottom,rgba(191, 193, 191, 0.89)
      rgba(171, 171, 171, 0.402),
    );
    width: 100%;
    min-height: 100vh;

  }
.first-sec h1{
  text-align: center;
}
  .first-sec span {
    color: rgba(116, 224, 116, 0.8);
  }

  .four-pics {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.8rem;
    padding-bottom: 6rem;
  }
 /* .four-pics .three{

 } */
  .img-on img {
    border-radius: 0.3rem;
  }

  .two img {
    display: block;
    /* flex-direction: column; */
  }
  .lil-one {
    margin-bottom: 0.6rem;
  }

  .second-sec {
    /* margin-top: 1rem; */
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.402),
        rgba(255, 255, 255, 0.89)
      ),
      url(../img/092b1a0e0f14af9d582de55999e9380a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    /* min-height: 100vh; */
    width: 100%;
  }

  .second-sec h1 {
    /* margin: 7rem 0; */
    font-size: 2rem;
  }

  .second-sec .story-text {
    font-size: 1.5rem;
    margin-top: 4rem;
    max-width: 81%;
   margin: 0 auto;
  }

  .green {
    color: rgba(24, 218, 24, 0.8);
  }

  .team {
    text-align: center;
    padding: 0 4rem;
  }

  .header-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .card {
    width: 300px;
    height: 10px;
  }

  .team-pic{
    height: 300px; 
    width:300px;
    margin-left: .7rem; 
    border-radius:5px;
    -o-object-fit: contain;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    }
    .team-tag{
     padding: 1rem;
     background-color: aliceblue;
    border-radius:5px;
    margin: 0rem 1rem;
     
    }
    .team-tag h2{
      font-weight: 500;
    }
    .team-tag h3{
      font-weight: 300;
    }
.third-sec{
    text-align: center;
    align-items: center;
    padding: 4rem 4rem;
    display: block;
    margin: 0;
    /* margin-top: 27rem; */
    
}

.third-sec h1{
    font-size: 2rem;
    margin: 7rem 0;
}

.our-values{
    display: block;
}

.value-stats{
    display: block;
}

.value-flex{
    margin-bottom: 5rem;
}
.value-flex:last-child{
  margin-bottom: 0rem;
}
.value-flex img{
  max-width: 200px;
}
@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }

  .logo {
    font-size: 1.1em;
  }

  nav {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
  }

  nav li {
    margin-bottom: 0;
    margin-left: 3em;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: "";
    display: block;
    height: 2px;
    background: black;
    position: absolute;
    bottom: -0.25em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    /* transform-origin: right; */
    transition: transform ease-in-out 300ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }

  .first-button {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: 3rem;
  }

  .first-button a {
    text-decoration: none;
  }

  #button-one {
    border: none;
    width: 9em;
    height: 2rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(221, 150, 17);
  }

  #button-two {
    border: 0.7px rgb(68, 68, 68) solid;
    width: 9em;
    height: 2rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
  }

  /* sections */

  .first-sec {
    text-align: center;
    font-size: 2rem;
    padding: 7rem 7rem;
    background: linear-gradient(
      to bottom,rgba(191, 193, 191, 0.89)
      rgba(171, 171, 171, 0.402),
    );
    width: 100%;
    height: 100vh;
  }
  .first-sec h1{
    text-align: center;
  }

  .first-sec span {
    color: rgba(116, 224, 116, 0.8);
  }

  .four-pics {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    padding-bottom: 6rem;
  }
  .img-on img {
    border-radius: 0.3rem;
  }

  .two img {
    display: flex;
    flex-direction: column;
  }
  .lil-one {
    margin-bottom: 0.6rem;
  }

  .second-sec {
    margin-top: 1rem;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.402),
        rgba(255, 255, 255, 0.89)
      ),
      url(../img/092b1a0e0f14af9d582de55999e9380a.jpg);
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
    height: 100vh;
    width: 100%;
  
  }

  .second-sec h1 {
    padding-top: 7rem;
    font-size: 2rem;
  }

  .second-sec .story-text {
    font-size: 1.5rem;
    margin-top: 4rem;
    max-width: 60%;
   margin: 0 auto;
  }

  .green {
    color: rgba(24, 218, 24, 0.8);
  }

  .team {
    text-align: left;
    padding: 0 4rem;
  }
 .main-carousel{
    padding: 0 4rem;
 }
.cell{
    margin: 0.8pc;
    border-radius: 4px;
}
.team-pic{
height: 300px; 
width:300px; 
border-radius:5px;
-o-object-fit: contain;
object-fit: cover;
-o-object-position: top;
object-position: top;
}
  /* .header-cards {
    display: flex;
    justify-content: space-around;
  }
  .card {
    width: 300px;
    height: 10px;
  }

  .carousel {
    display: flex;
    margin-top: 7rem;
  } */


.third-sec{
    padding: 20rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.third-sec h1{
    font-size: 2rem;
}

.our-values{
    position: relative;
    top: -25rem;
}

.value-flex{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: -2rem;

}
.value-flex img{
max-width: 200px;
}

}
/* Footer styles start */
footer{
  position: relative;
  bottom: 0;
  padding: 2rem;
  background:
          linear-gradient(to bottom, rgba(116, 224, 116, 0.8),
              rgba(101, 138, 101, 0.89)),
          url(../img/images\ \(3\).jpeg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  width: 100%;
  font-size: 1.5rem;
}
footer .foot__note{
  text-align: center;
}
footer ul{
  list-style: none;
}
.social__media ul li{
  margin-bottom: 1rem;
}
.foot__note img{
width: 3.5rem;
}
.social__media ul .fa-facebook{
  color: blue;
}
.social__media .fa-whatsapp{
color: green;
}
.social__media .fa-instagram{
  color: hotpink;
}
.social__media .fa-twitter{
  color: lightskyblue;
}
.last__text{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;
  text-align: center;
  max-width: 90%;
  width: 100%;
}
@media (min-width:600px){
  footer .foot__note{
    display: grid;
    place-items: center;
    grid-template-columns:1fr 3fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
  }
  .foot__logo{
     grid-column: 1/1;
     grid-row: 1/1;
  }
  .social__media{
     grid-column: 2/2;
  }
  .last__text{
     text-align: center;
     grid-column: 2/2;
     grid-row: 2/2;
  }
  .social__media ul{
     display: flex;
  }
  .social__media ul li{
     margin-right: 1rem;
  }
  .social__media ul a{
 text-decoration: none;
 }
 .foot__note img{
     width: 8.5rem;
 }
 .social__media ul .fa-facebook{
     color: blue;
 }
 .social__media .fa-whatsapp{
 color: green;
 }
 .social__media .fa-instagram{
     color: hotpink;
 }
 .social__media .fa-twitter{
     color: lightskyblue;
 }
 }

/* footer styles end */

/* footer styles end */
